<!DOCTYPE html>
<html lang="pt-bt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='table.css') }}">
</head>
<body>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="messages">
                {% for category, message in messages %}
                    <div class="alert {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        <h1>Clientes Registrados</h1>
        <table id="table">
            <thead>
                <tr>
                    <th>
                        <span onclick="sortTable(0)">ID</span>
                        <input type="text" class="filter-input" placeholder="Filtrar ID" onkeyup="filterTable(0)">
                    </th>
                    <th>
                        <span onclick="sortTable(1)">Nome do Cliente</span>
                        <input type="text" class="filter-input" placeholder="Filtrar Nome" onkeyup="filterTable(1)">
                    </th>
                    <th>
                        <span onclick="sortTable(2)">CNPJ</span>
                        <input type="text" class="filter-input" placeholder="Filtrar CNPJ" onkeyup="filterTable(2)">
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="table-row">
                {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.cd_cliente }}</td>
                    <td>{{ cliente.nm_cliente }}</td>
                    <td>{{ cliente.cd_cnpj }}</td>
                    <td>
                        <form action="{{ url_for('clientes.update_cliente', cd_cliente=cliente.cd_cliente) }}" method="get" style="display:inline;">
                            <button id="update" type="submit">Editar</button>
                        </form>
                        <form action="{{ url_for('clientes.delete_cliente', cd_cliente=cliente.cd_cliente) }}" method="post" style="display:inline;">
                            <button id="delete" type="submit">Excluir</button>
                        </form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="4">Nenhum cliente encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn" onclick="location.href='{{ url_for('clientes.create_cliente') }}'">Cadastrar novo cliente</button>
        <br>
        <button class="btn" onclick="location.href='{{ url_for('home') }}'">Home</button>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</body>
</html>